.corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 6.5em;
    height: 4.5em;
    z-index: 5;
}

.corner i {
    color: #fff;
    position: relative;
    top: .55em;
    left: 3em;
}

.corner:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border-right: 6.5em solid transparent;
    border-bottom: 4.5em solid transparent;
    border-right-color: #5755d9;
    z-index: -1;
}
